.front,.back{
    border: 1px solid black;
    width: 300px;
    height: 440px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
  }
.front {
    background: whitesmoke;
    transform: perspective(600px) rotateY(0deg);
}
.back{
    background: skyblue;
     transform: perspective(600px) rotateY(-180deg); 
}

.card.rotated > .front{
transform: perspective(600px) rotateY(180deg);
}
.card.rotated > .back{ 
    transform: perspective(600px) rotateY(0deg);
  }  