.wrapper {
  width: 45vh;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.wrapper:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.front,
.back {
  border-radius: 20px;
  width: 40vh;
  height: 60vh;

  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  padding-top: 42vh;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back {
  transform: perspective(600px) rotateY(-180deg);
}

.card.rotated > .front {
  transform: perspective(600px) rotateY(180deg);
}
.card.rotated > .back {
  transform: perspective(600px) rotateY(0deg);
}
