.box {
    display:flex; 
    overflow-x:scroll; 
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: hidden;
    height: 90vh;
    position: relative;
}
.box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}